<!DOCTYPE html>
<html>
<head>
    <title>A Shakespearean Analysis</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800|Merriweather:400,700">
    <link rel="stylesheet" href="assets/build/css/main.css">
    <script src="assets/build/js/main.js"></script>
</head>
<body>
    <section id="plays" class="plays is-visible">
        <div class="plays-intro">
            <h1 class="heading plays-intro-heading">A Shakespearean Analysis</h1>
            <p>Select a play you would like to analyze, you can compare it to others later on.</p>
        </div>
        <ul class="plays-list">
            <li v-for="play in plays">
                <input type="radio" name="play" value="{{ play.id }}">
                <div class="play-item">
                    <span class="play-title">{{ play.title }}</span>
                    <ul class="play-details">
                        <li class="play-details-category" title="Category">{{ play.category }}</li>
                        <li class="play-details-year" title="First published">{{ play.published }}</li>
                        <li class="play-details-author" title="Author">{{ play.author }}</li>
                        <li class="play-details-readingtime">{{ play.reading_time }}</li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="plays-analyze text-center">
            <span class="button button--arrow-right">Analyze</span>
        </div>
    </section>
    <main id="play" class="play">
        <div class="tip"><strong>TIP!</strong> Select some text to start analyzing this play, different selections will result in different options.</div>
        <a class="back-to-plays" title="Select another play"><span class="back-to-plays-hamburger"></span></a>
        <h1 class="heading heading--play">{{ title }}</h1>
        <div class="act" v-for="act in acts">
            <h2 class="heading heading--act">{{ act.title }}</h2>
            <div class="scene" v-for="scene in act.scenes">
                <h3 class="heading heading--scene">{{ scene.title }}</h3>
                <div class="paragraph" v-for="paragraph in scene.content">
                    <h4 class="heading heading--character" v-if="paragraph.character">{{ paragraph.character }}</h4>
                    {{ paragraph.text.join(' ') }}
                </div>
            </div>
        </div>
        <div class="play-options">
            <ul>
                <li>
                    <a class="play-option--word">Definition</a>
                </li>
                <li>
                    <a class="play-option--word">Visualize connections</a>
                </li>
                <li>
                    <a class="play-option--paragraphs">Generate summary</a>
                </li>
                <li>
                    <a class="play-option--paragraphs">Generate summary</a>
                </li>
                <li>
                    <a class="play-option--words play-option--sentence play-option--sentences play-option--paragraphs">Sentiment analysis</a>
                </li>
            </ul>
        </div>
    </main>
    <aside class="sidebar">

    </aside>
</body>
</html>