.button {
    display: inline-block;
    background-color: $primary-color;
    color: #fff;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    padding: 6px 18px 5px;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    transition: all .15s;

    &:hover,
    &:focus {
        background-color: mix(#000, $primary-color, 15%);

        &:before,
        &:after {
            border-color: mix(#000, $primary-color, 15%);
            color: mix(#000, $primary-color, 15%);
        }
    }
}

.button--arrow-right {
    min-height: 46px;
    padding-right: 18px + 46px - 4px;

    &:after {
        content: '\276F';
        position: absolute;
        top: 0;
        right: 0;
        width: 46px;
        height: 46px;
        border: 4px solid $primary-color;
        background-color: #fff;
        color: $primary-color;
        text-align: center;
        padding-top: 1px;
        padding-right: 2px;
        font-size: .9rem;
        transition: all .15s;
    }
}