.plays {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 640px;
    height: 100vh;
    margin: 0 auto;
    padding: 80px 0 60px;
    transform: translateY(-100vh) scale(.75);
    transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.is-visible {
        transform: translateY(0) scale(1);
    }

    ::-webkit-scrollbar-track-piece {
        background-color: transparent;
        -webkit-border-radius: 6px;
    }
}
.plays-intro {
    margin-bottom: 30px;

    p {
        margin: 0;
        line-height: 1.55;
    }
}
.plays-intro-heading {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
}
.plays-list {
    display: block;
    margin: 0 auto 30px;
    padding: 0 5px 0 0;
    width: 100%;
    overflow: auto;
    list-style-type: none;
    background-color: #f4f4f4;
    position: relative;
    z-index: 1;

    li {
        display: block;
        padding: 3px 0;
        position: relative;

        &:hover .play-item {
            border-color: $primary-color;
            transition: border .25s, background .25s;
        }

        &:first-child {
            padding-top: 0;
        }
        &:last-child {
            padding-bottom: 0;
        }
        input[type="radio"] {
            opacity: 0;
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
    input[type="radio"]:checked + .play-item {
        background-color: $primary-color;
        border-color: $primary-color;
        color: #fff;
        font-weight: bold;

        .play-details {
            color: #fff;
        }
    }
}
.play-item {
    position: relative;
    z-index: 2;
    display: block;
    padding: 13px 18px;
    background-color: #fff;
    border: 4px solid #fff;
    transition: border .75s, background .25s;
}
.play-details {
    display: block;
    margin: -5px 0 2px;
    padding: 0;
    font-size: .6rem;
    text-transform: uppercase;
    font-family: Raleway, sans-serif;
    font-weight: 600;
    line-height: 1;
    color: #999;

    li {
        display: inline-block;

        &:after {
            content: '\00B7';
            display: inline-block;
            margin: 0 5px;
        }
        &:last-child:after {
            display: none;
        }
    }
}

.plays-analyze {
    transform: translateY(-80px);
    transition: transform .75s cubic-bezier(0.87, -0.5, 0.19, 1.5);

    &.is-visible {
        transform: translateY(0);
    }
}