html {
    font-family: Merriweather, serif;
    font-size: 21px;
    line-height: 1.9;
    color: #333;
}

h1, h2 {
    text-shadow: 1px 1px 0 #fff;
}

// Heading classes
.heading {
    font-family: Raleway, sans-serif;
    margin: 2rem 0 0rem;
    font-size: 1.1rem;
}
.heading--play {
    font-size: 4.25rem;
    line-height: 1;
    font-weight: 800;
    text-transform: uppercase;
    color: #111;
}
.heading--act {
    margin-top: 3.5rem;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 800;
}
.heading--scene {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.33;
}
.heading--character {
    margin-top: 1.5rem;
}

.heading-prefix {
    display: block;
    font-size: .66rem;
    line-height: 1;
    color: #999;
    margin-bottom: 5px;
}

// Paragraphs
.paragraph {
    margin: 0 0 1.5rem;
}

// Alignment
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

// Text selection
::selection {
    background: rgba($primary-color, .33);
    text-shadow: none;
    color: #222;
}
::-moz-selection {
    background: rgba($primary-color, .33);
    text-shadow: none;
    color: #222;
}