html {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}
body {width: 100%;
    height: 100%;
    overflow: hidden;
}

.back-to-plays {
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 25px;
    left: 25px;
    background-color: #fff;
    cursor: pointer;
    transform: translateX(-150%);
    transition: all .15s, transform .25s;

    .play.is-visible & {
        transform: translateX(0);
        transition: all .15s, transform .25s .85s;
    }

    &:hover {
        background-color: $primary-color;
    }
}
.back-to-plays-hamburger {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 4px;
    margin-top: -2px;
    margin-left: -10px;

    &,
    &:before,
    &:after {
        background-color: #333;
        transition: all .15s;

        .back-to-plays:hover & {
            background-color: #fff;
        }
    }
    &:before,
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
    }
    &:before {
        bottom: 6px;
    }
    &:after {
        top: 6px;
    }
}

.play {
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    padding: 10% 30% 20% 20%;
    position: absolute;
    top: 100%;
    overflow-y: scroll;
    transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);

    &.is-visible {
        top: 0;
    }
}

.play-options {
    position: fixed;
    bottom: 25px;
    background-color: #fff;
    width: 50%;
    box-shadow: 0 3px 5px rgba(#333, .25);
    z-index: 2;
    min-height: 58px;
    transform: translateY(calc(100% + 30px)) scale(.85);
    transition: transform .75s .2s cubic-bezier(0.87, -0.5, 0.19, 1.5);
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;

    &.is-visible {
        transform: translateY(0) scale(1);
    }

    ul {
        display: block;
        margin: 0;
        padding: 0;
        list-style-type: none;
        @include clearfix();

        li {
            float: left;
            border-right: 1px solid #e8e8e8;

            a {
                display: block;
                position: absolute;
                top: 100%;
                color: #333;
                text-transform: uppercase;
                font-family: Raleway, sans-serif;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
                padding: 15px 25px 13px;
                text-decoration: none;
                cursor: pointer;
                transition: all .15s;

                &:hover {
                    color: #fff;
                    background-color: $primary-color;
                }
            }
        }
    }
}
.play-options--word .play-option--word,
.play-options--words .play-option--words,
.play-options--sentence .play-option--sentence,
.play-options--sentences .play-option--sentences,
.play-options--paragraphs .play-option--paragraphs {
    position: static;
}

.tip {
    display: block;
    padding: 15px 20px 12px;
    background-color: #e8e8e8;
    border-left: 5px solid $primary-color;
    font-size: .8rem;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}